.body-dashboard {
    background-image: url("../resources/images/bg.jpg");
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

.body-auth {
    background-color: #9B59B6;
    font-family: sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../resources/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

h1,
h2 {
    margin: 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
    color: #9B59B6;
}

.form-wrapper {
    display: flex;
    justify-content: flex-end;
    grid-column: 2;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #532D6A;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #9B59B6;
}

.card-title{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}
.register{
    padding: 24px;
}

.container-text{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.text-title{
    font-size: 90px;
    font-weight: bold;
    font-family: 'Homenaje';
    color: white;
    vertical-align: middle;
}

.sub-text-title{
    font-size: 24px;
    font-family: 'Homenaje';
    color: white;
    vertical-align: middle;
}

.forgot-password{
    text-align: right;
    font-size: 16px;
}

.forgot-password a {
    color: blue;
    text-decoration: none;
    font-size: 16px;
  }
  
.forgot-password a:hover {
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
}

.sign-up-here{
    text-align: center;
    font-size: 16px;
    margin-top: 16px;
}

.sign-up-here a {
    color: blue;
    text-decoration: none;
    font-size: 16px;
  }
  
.sign-up-here a:hover {
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
  }
  @media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .bg-purple{
    background-color: #532D6A;
  }

  .text-white{
    color: white;
  }

  .bar-menu a:hover{
    color: #532D6A;
    text-decoration: underline;
    cursor: pointer;
  }

  .btn-small{
    width : 160px;
    }